*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #333;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}



/* Navbar */
.navbar{
    background-color: black;
}
.menu ul{
    padding: 15px;
    gap: 20px;
    list-style: none;
    display: flex;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    
}
.menu a:hover{
    background-color: white;
    color: black;
}
/* Navbar End */







/* Sections */

section {
    margin-top: 70px;
}

section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}
/* Section End */



/* Book Cards */

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.book-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.book-card:hover {
    transform: translateY(-8px);
}

.book-card img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    border-radius: 8px;
}

.book-card h3 {
    margin-top: 15px;
}

.book-card p {
    color: gray;
    font-size: 0.9em;
}

footer{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;

}