*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #333;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}





/* Navbar */
.navbar{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu ul{
    padding: 15px;
    gap: 20px;
    list-style: none;
    display: flex;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    
}
.menu a:hover{
    background-color: white;
    color: black;
}
/* Navbar End */







/* Sections */

section {
    margin-top: 70px;
}

section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}
/* Section End */






/* main */
.main {
    background-color: black;
    color: white;
    padding: 4rem 3rem;
    border-radius: 15px;
    text-align: center;

}
.main h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.main p{
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
    font-size: 1.1rem;
}
/* main end */






.book-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.book-card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,.08);
    transition: .3s;
}
.book-card:hover {
    transform: translateY(-8px);
    transition: .3s;
}
.book-card img{
    width: 100%;
    border-radius: 8px;
}
.book-card h3 {
    margin-top: 15px;
}

.book-card p {
    color: gray;
}
footer{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;

}


